---
layout: default
---
<div class="max-w-screen-md mx-auto">
  <div id="site-header" class="flex items-center justify-between py-4 border-b mb-4">
    <a href="{{ '/' | relative_url }}" id="site-logo" class="flex items-center">
      <img src="{{ "/assets/images/TransferOrb.png" | relative_url }}">
      <span class="ml-4 font-semibold text-lg">{{ site.title }}</span>
    </a>
    <div class="flex text-sm">
      <a href="https://discord.gg/hXgSDS6"
        style="background: #7289DA;" class="text-white px-1 ">Discord</a>
      <a href="https://patreon.com/awakened_poe_trade"
        style="background: #FF424D;" class="text-white px-1 mx-2">Patreon</a>
      <a href="{{ site.github.repository_url }}"
        style="background: #181717;" class="text-white px-1 ">GitHub</a>
    </div>
  </div>
  <div class="flex mb-4 items-start">
    <nav class="w-1/4 border shadow-sm rounded p-2 text-sm flex flex-col flex-shrink-0">
      {% for item in site.data.nav %}
        {% if item.separator %}
          <hr class="my-1 mx-2">
        {% elsif page.url == item.permalink %}
          <a class="px-2 py-1 rounded m-px bg-gray-800 text-white"
            href="{{ item.permalink | relative_url }}">{{ item.name }}</a>
        {% else %}
          <a class="px-2 py-1 rounded m-px hover:bg-gray-400"
            href="{{ item.permalink | relative_url }}">{{ item.name }}</a>
        {% endif %}
      {% endfor %}
    </nav>
    <article class="w-3/4 ml-8 markdown-body">
      {{ content }}
    </article>
  </div>
</div>
